<h1>Events List</h1>

<p><strong>Upcoming Events</strong></p>
<% @upcoming.each do |event| %>
    <div style=border:solid>  
        <p><%= link_to event.title, event %></p>
        <p><%= link_to event.creator.email, event.creator %></p>        
    </div><br>
<% end %>

<p><strong>Past Events</strong></p>
<% @past.each do |event| %>
    <div style=border:solid>  
        <p><%= link_to event.title, event %></p>
        <p><%= link_to event.creator.email, event.creator %></p>        
    </div><br>
<% end %>

<% if user_signed_in? %>
    <p>Create a new event <%= link_to "here", new_event_path %></p>
    <p>Sign out <%= link_to "here", destroy_user_session_path, method: :delete %></p>
<% else %>
    <p>Sign in <%= link_to "here", user_session_path %></p>
<% end %>