<h1><%= @event.title %></h1>

<div>    
    <p>Location: <%= @event.location %></p>
    <p>Date: <%= @event.date %></p>
    <p>Creator: <%= @event.creator.email %></p>
</div><br>

<% if current_user != @event.creator %>
  <% if @event.attendees.include?(current_user) %>
    <p>You are attending this event!</p>
  <% else %>
    <%= link_to 'Attend Event', attend_event_path(@event), method: :post, class: "btn btn-primary" %>
  <% end %>
<% end %>

<h3>Attendees:</h3>
<ul>
  <% @event.attendees.each do |attendee| %>
    <li><%= attendee.email %></li>
  <% end %>
</ul>